* {
	color:white;
	border-color:white;
	background-color:black;
	font-family: 'Tahoma';
	font-size: 11.5pt;
}


.header {
	margin-top: -8px;
	margin-bottom: 23px;
	position: fixed;
	right: 0px;
	left:0px;
	padding-bottom: 4px;
}

#thesocial {
	font-family: 'Chango', cursive;
	font-size: 24px;
}

.username {
	font-family: 'Condiment', cursive;
	font-size: 64px;
	padding:0px;
	margin-left:-18px;
}


.bottommargin-8{
margin-bottom: -8px;
}

.bottommargin8{
margin-bottom: 8px;
}


.ninja {
	font-family: 'Condiment', cursive;
	font-size: 46px;
	margin-top: -23px;
	margin-left: 131px;
	margin-bottom: -23px;
	background-color: transparent;
	color: #CF3030;
}

.headerline {
	margin-top: 0px;
	margin-bottom: 0px;
}

.offset {
	padding-bottom: 80px;
}

.centertext {
	text-align: center;
}

.textright {
	text-align: right;
}

.link {
	border-style:solid;
	border-width:2px;
	padding: 5px;
	font-size: 10pt;
	font-weight: bold;
	margin:3%;
}

a:link {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: underline;
	color: navy;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: navy;
}

h1 {
	font-family: 'Shojumaru', cursive;
	font-size: 24px;
	text-align: center;
	margin: 0px;
}

.field {
	margin-top: 45px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.col-md-8 {
	width: 66.66%
}

.col-md-6 {
	width: 50%;
}

.col-md-4 {
	width: 33.33%
}

.col-md-3 {
	width: 25%;
}

button {
	height: 100%;
	width: 128px;
}

h2 { 
	font-size: 13pt;
	margin-bottom: 20px;
	
}

h3 {
	font-size: 14pt;
	margin:0px;
	margin-bottom:9px;
}

.time {
	font-size: 10pt;
	font-style: italic;
	margin:0px;
	margin-bottom:5px;
}

.col-con {
	width: 62px;
}

.row-con {
	display: flex;
	flex-wrap: wrap;
	width: 248px;
	text-align: center;
}

.conbox {
	padding-top: 30px;
}

.formbox {
	padding:20px;
}