<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href={{url_for('static', filename='style/style.css')}}>
		<link href='https://fonts.googleapis.com/css?family=Condiment|Chango|Shojumaru&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<title>
			Add Picture
		</title>
	</head>
	<body>
		<div>
			<div class='header'>
				<div class='row' style='margin-bottom:8px;'>
					<div class='col-md-6'>
						<div id='thesocial'>The Social </div>
						<div class='ninja'>Ninja</div>
					</div>
					<div class='col-md-6' style='padding-top:25px'>
							
							<div class='textright'>
								<a class='link' href={{url_for('viewRequests', user_id=login)}}>Requests</a>
								<a class='link' href={{url_for('ninjas')}}>All Ninjsa</a>
								<a class='link' href={{url_for('showProfile', user_id=login)}}>Profile</a>
								<a class='link' href={{url_for('gdisconnect')}}>Log Out</a>
							</div>
					</div>
				</div>
				<hr class='row, headerline'>
			</div>
		
			<div class='centertext'>
				<div class='offset'></div>
				<h1 class='bottommargin20'>Add Picture</h1>
				<img class='bottommargin20' src='/static/images/{{picture.location}}' height=300, width=300>
				<div>
					<h1 class='bottommargin20'>Add Description</h1>
					<form action='' method='POST' enctype='multipart/form-data'>
					<textarea type='text' name='picdes' style="height:150px; width:400px"></textarea>
					</br>
					<input type='submit' value='Submit'>
					<input name='cancel' type='submit' value='Cancel'>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>