<!DOCTYPE html>
<html>
	<head>
		<script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'>
		</script>
		<script src='//apis.google.com/js/platform.js?onload=start'>
		</script>
	</head>
	<body>
		<div>
			<div>
				The Social <span>Ninja</span>
			</div>
			<div>
				The ninja social network.
			</div>
		</div>
		<div id='signInButton'>
			<span class='g-signin'
				data-scope='openid email'
				data-clientid='270580375959-bqt8hjmqknevta39biqphdaon0fgmg7s.apps.googleusercontent.com'
				data-redirecturi='postmessage'
				data-accesstype='offline'
				data-cookiepolicy='single_host_origin'
				data-callback='signInCallback'
				data-approvalprompt='force'>
			</span>
		</div>
		<div id='result'></div>
		<script>
			function signInCallback(authResult){
				$('#signInButton').attr('style', 'display: none');
				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{STATE}}',
					processData: false,
					data: authResult['code'],
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result){
						if (result){
							if (!result['user']){
								setTimeout(function(){
									window.location.href = '/join';
								}, 4000);
							}
							setTimeout(function(){
								//window.location.href = '/restaurant';
							}, 4000);
							$('#result').html('Login successful</br>Redirecting...');
						}
						else if (result['statusText']){
							console.log('There was an error ' + result['responseText']);
						}
						else {
							$('#result').html('Failed to make a server side call check your configuration and console.')
						}
					},
					error: function(result){
						console.log(result);
						console.log('There was an error: ' + result['responseText']);
					}
				})
			}
		</script>
	</body>
</html>