<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<img src={{url_for('static', filename=user.profile_pic)}} width=200 height=200>
		{{user.username}} </br>
		</div>
		{{user.description}} </br>
		</br>
		<div id='pics'>
		{% for pic in pictures %}
			<a  href={{url_for('viewPic', user_id=user.id, picture_id=pic.id)}}>
				<img src={{url_for('static', filename=pic.location)}} height=75 width=75>
			</a>
		{% endfor %}
		
		<form action='' method='POST' enctype='multipart/form-data'>
			<input type='file' name='file'></br>
			<input type='submit' value='upload'>
		</form>
		</div>
		</br>
		{% for i in posts %}
		{{i.post_time}} </br>
		{{i.subject}} </br>
		{{i.description}} </br>
		{% endfor %}
	</body>
</html>