<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href={{url_for('static', filename='style/style.css')}}>
		<link href='https://fonts.googleapis.com/css?family=Condiment|Chango|Shojumaru&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<title>
			View Requests
		</title>
	</head>
	<body>
		<div id='connections'>
			<div class='header'>
				<div class='row' style='margin-bottom:8px;'>
					<div class='col-md-6'>
						<div id='thesocial'>The Social </div>
						<div class='ninja'>Ninja</div>
					</div>
					<div class='col-md-6' style='padding-top:25px'>
							
							<div class='textright'>
								<a class='link' href={{url_for('viewRequests', user_id=login)}}>Requests</a>
								<a class='link' href={{url_for('ninjas')}}>All Ninjsa</a>
								<a class='link' href={{url_for('showProfile', user_id=login)}}>Profile</a>
								<a class='link' href={{url_for('gdisconnect')}}>Log Out</a>
							</div>
					</div>
				</div>
				<hr class='row, headerline'>
			</div>
			<div class='offset'></div>
			<div class='centertext'>
				<h1 class='bottommargin20'>Friend Requests</h1>
				{% if connections %}
				<div class='row'>
					{% for c in connections %}
					<div class='col-20p'>
						<a href={{url_for('showProfile', user_id=c[1].id)}}>
							<img src='/static/images/{{c[1].profile_pic}}' height=100 width=100>
						</a>
						<div>
							{{c[1].username}}
						</div>
						<div class='row'>
							<div class='col-md-6'>
							<form action='' method='POST'>
							
								<input type='hidden' name='index' value={{c[0].id}}>
								<input  type='submit'  value='Accept' name='accept'>
							</form>
							</div>
							<div class='col-md-6'>
							<form action='' method='POST' >
								<input type='hidden' name='index' value={{c[0].id}}>
								<input  type='submit'  value='Decline' name='decline'>
								
							</form>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				{% else %}
				<div class='centertext'>
					No Friend Requests.
				</div>
				{% endif %}
				
				{% if user.id != login %}
				<div class='centertext'>
					</br>
					<a href={{url_for('showProfile', user_id=user.id)}}>Go back to {{user.username}}'s profile</a>
				</div>
				{% endif %}
			</div>
		</div>
	</body>
</html>